
html{
	background: url("/css/IMG_0224.JPG") 
	no-repeat center center fixed;
	background-size: cover;
	-webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    height: 100%;
    overflow: hidden;
    padding: 0;
  	zoom:80%;


}

body{
	background:transparent;
	height: 100%;
    margin: 0;
    overflow: auto;
   overflow-y: scroll; 
  -webkit-overflow-scrolling: touch;
}


/*body{
  background: url("http://eskipaper.com/images/subtle-orange-wallpaper-1.jpg") 
  no-repeat center center fixed;
  background-size: cover;
}

.jumbotron{
  background-color: transparent;
}

`
li{
  padding-top: 20px;
}

input{
  margin-top: 30px;
  height: 20px;
  width: 20px;
}