.answer-margins{
	margin-left:150px;
	margin-right:150px;
}

.form-group-border{
	background-color: lightgreen;
	border:2px solid black;
	margin-bottom: 20px;

}

.form-group-border{

}

.question{
	margin-left:15px
}

.form-control{
	width:95% !important;
}



 #append-tests{
    display: grid;
  }

  .btn-primary{
    margin-bottom: 30px;
  }

  .button-checkbox{
   display:-webkit-inline-box;

  }

  th,td{
    color: black;
    text-align: center;
  }

  li{
    list-style: none;
  }

.table thead th{
  border-top:none !important;
  border-bottom: :none !important;
}

.table thead th{
  /*border-top:none;*/
}

.but-size{
  width:30% !important;
  margin:20px;
}

button{
    width:60%;
}

.but-size-2{
  width:20% !important;
}

#percentage{
  color: white;
  text-shadow: 2px 2px 2px black;

}

#code{
color: white;
width: 100%;
}

.position-codes{
  line-height: 65px;
    font-size: 18px;
}

#input{
  width:100%;
  margin-top:0px;
  height: auto
}



@media only screen 
and (min-device-width : 375px) 
and (max-device-width : 667px) { 
	.but-size,.but-size-2,button{
		width:100% !important;
	}

	.but-size{
		margin:0px;
		    margin-bottom: 30px;
	}

	#student-result-button{
	width:80% !important;
	}

  .answer-margins{
  margin-left:0px !important;
  margin-right:0px !important;
}

.form-control {
    margin-left: 8px;
}

}



@media only screen 
and (min-device-width : 375px) 
and (max-device-width : 667px)and (orientation : portrait) { 

    #class-codes,#del,#percentage,#check,.position-codes,#student-result-button,th{
      display: none;

    }
#test-button{
  margin-left: 50px;
      padding: 5px;
    font-size: 14px;
}


  }